@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.fade-out-alert {
  animation: fade-out-alert 1.5s forwards;
}

.fade-in-alert {
  animation: fade-in-alert 1.5s;
}

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s;
}

.move-right {
  animation: move-right 1.5s infinite;
}

.scroll-up {
  animation: scroll-up 1.5s infinite;
}

.rotate-y:hover {
  animation: rotate-y 2s;
}

.rotate-z {
  animation: rotate-z 2s infinite;
}

@keyframes fade-out-alert {
  from {
    opacity: 1;
    transform: translatex(-50%) translatey(0);
  }
  to {
    opacity: 0;
    transform: translatex(-50%) translatey(-20px);
  }
}

@keyframes fade-in-alert {
  from {
    opacity: 0;
    transform: translatex(-50%) translatey(-20px);
  }
  to {
    opacity: 1;
    transform: translatex(-50%) translatey(0);
  }
}

@keyframes fade-out-down {
  from {
    opacity: 1;
    transform: translatey(0);
  }
  to {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translatey(20px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes move-right {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translatex(8px);
  }
  40% {
    transform: translate(0);
  }
}

@keyframes scroll-up {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
  40% {
    transform: translate(0);
  }
}

@keyframes rotate-y {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

@keyframes rotate-z {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}
