@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:is([data-theme="dark"] *));

.fade-out-alert {
  animation: fade-out-alert 1.5s forwards;
}

.fade-out-down {
  animation: fade-out-down 1.5s forwards;
}

.fade-in-up {
  animation: fade-in-up 1.5s;
}

.move-right {
  animation: move-right 1.5s infinite;
}

.scroll-right {
  position: absolute;
  opacity: 0;
  right: 50%;
  top: 0%;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: scroll-right 3s ease-out infinite;
  &:first-child {
    animation-delay: 1s;
  }
  &:nth-child(2) {
    animation-delay: 2s;
  }
}

.scroll-up {
  animation: scroll-up 1.5s infinite;
}

a:is(:hover) .rotate-y {
  animation: rotate-y 2s;
}

.rotate-z {
  animation: rotate-z 2s infinite;
}

@keyframes fade-out-alert {
  0% {
    opacity: 1;
    transform: translatex(-50%) translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatex(-50%) translatey(-20px);
  }
}

@keyframes fade-out-down {
  0% {
    opacity: 1;
    transform: translatey(0);
  }
  100% {
    opacity: 0;
    transform: translatey(20px);
  }
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translatey(20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

@keyframes move-right {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatex(8px);
  }
}

@keyframes scroll-right {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateX(30px);
  }
  67% {
    opacity: 1;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(65px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes scroll-up {
  0%,
  40% {
    transform: translate(0);
  }
  20% {
    transform: translatey(-8px);
  }
}

@keyframes rotate-y {
  0% {
    transform: rotatey(0deg);
  }
  100% {
    transform: rotatey(360deg);
  }
}

@keyframes rotate-z {
  0% {
    transform: rotatez(0deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}
